body{
    margin: 0;
    padding: 0;
}
#nav {
    width: 375px;
    height: 156px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#nav a i{
    color: #96B5FF;
}